@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul { margin: 0; padding: 0; font: inherit; }

body, button, input, select, table, textarea { font: inherit; }

h1, h2, h3, h4, h5, h6 { font-size: inherit; line-height: inherit; }

textarea { -webkit-backface-visibility: hidden; backface-visibility: hidden; background-color: transparent; border: 0; word-break: keep-all; word-wrap: break-word; }

button, input { border-radius: 0; border: 0; }

button { background-color: transparent; }

fieldset, img { border: 0; }

img { vertical-align: top; }

ol, ul { list-style: none; }

address, em { font-style: normal; }

a { color: inherit; text-decoration: none; }

iframe { overflow: hidden; margin: 0; border: 0; padding: 0; vertical-align: top; }

mark { background-color: transparent; }

i { font-style: normal; }

body { font-family: "Nanum Gothic", sans-serif; color: #222; line-height: 1.5; min-width: 1250px; }

.blind { position: absolute; width: 1px; height: 1px; overflow: hidden; clip: rect(0 0 0 0); margin: -1px; }

.common-inner { position: relative; width: 1152px; margin: 0 auto; min-width: 1152px; }

.inner { position: relative; width: 1152px; margin: 0 auto; min-width: 1152px; }

.title { font-size: 24px; font-weight: bold; margin-bottom: 20px; }

.sc-visual .title { margin-bottom: 0; font-size: 14px; text-align: center; }

.sc-service .title { border-bottom: 1px solid #dbdbdb; padding-bottom: 10px; }

.sc-board .title { border-bottom: 2px solid #dbdbdb; padding-bottom: 10px; }

.sc-often .title { margin-bottom: 10px; }

.sc-video .title { margin-bottom: 11px; }

.sc-s-news .title { margin-bottom: 11px; }

header .top_area .logo_area { width: 97.5px; margin-top: 8px; }

header .top_area .logo { width: 290px; height: 27px; background: url(../img/icon_set_common.png) no-repeat -5px -165px; float: left; }

header .top_area .logo a { display: block; height: 100%; }

header .top_area .utill-area { overflow: hidden; }

header .top_area .utill-area .gnb-list { float: left; }

header .top_area .utill-area .gnb-list .gnb-item { float: left; margin-left: 20px; font-size: 16px; height: 48px; line-height: 48px; font-weight: 700; }

header .top_area .utill-area .gnb-list .gnb-item:hover { color: #2292e9; }

header .top_area .utill-area .utill-wrap { float: right; height: 48px; line-height: 48px; font-weight: 700; font-size: 14px; }

header .top_area .utill-area .utill-wrap a { padding: 0 10px; }

header .top_area .utill-area .utill-wrap a:hover { color: #2292e9; }

header .search_area { overflow: hidden; position: relative; }

header .search_area .logo { background: url(../img/logo_new_2019.png) no-repeat 0 0; margin: 38px 0 30px; width: 178px; height: 51px; float: left; }

header .search_area .serach { position: absolute; left: 50%; top: 40px; -webkit-transform: translateX(-50%); transform: translateX(-50%); width: 460px; height: 42px; border: 3px solid #2292e9; -webkit-box-sizing: border-box; box-sizing: border-box; }

header .search_area .serach .search_txt { padding: 0 10px; height: 38px; line-height: 38px; background-color: transparent; width: calc(100% - 42px); outline: none; font-size: 14px; color: #2292e9; }

header .search_area .serach .keyboard { background: url(../img/keyboard.png) no-repeat; width: 29px; height: 16px; position: absolute; top: 50%; right: 40px; -webkit-transform: translateY(-50%); transform: translateY(-50%); cursor: pointer; }

header .search_area .serach .search_btn { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); width: 36px; height: 36px; background: url(../img/icon_set_common.png) no-repeat -32px -97px; }

header .weather-area { float: right; right: 0; top: 30px; width: 260px; margin-top: 40px; }

header .weather-area .ico { width: 58px; height: 47px; float: left; }

header .weather-area .txt .temp { font-size: 25px; margin-right: 5px; }

header .weather-area .txt .txt1 { font-size: 16px; }

header .weather-area .txt p { font-size: 13px; }

header .lang-area { position: absolute; right: 0; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }

header .lang-area .select-lang { border: 1px solid #1E6CB3; color: #1e6cb3; height: 21px; font-size: 12px; }

header .lang-area .btn-lang { width: 30px; height: 21px; font-size: 11px; color: #fff; background-color: #1E6CB3; }

footer .corp { position: relative; }

footer .corp .corp_list { padding: 15px 0; overflow: hidden; font-size: 12px; color: #636363; position: relative; }

footer .corp .corp_list li { float: left; }

footer .corp .corp_list li + ::before { content: ""; display: inline-block; width: 1px; height: 11px; background-color: #dcdcdc; vertical-align: -1px; margin: 0 10px; }

footer .corp .sns_area .sns-list { position: absolute; top: 50%; right: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

footer .corp .sns_area .sns-list .sns-item { float: left; background: #f00; width: 24px; height: 24px; background: url(../img/icon_set_sns.png) no-repeat; }

footer .corp .sns_area .sns-list .sns-item a { height: 100%; display: block; }

footer .corp .sns_area .sns-list .sns-item + .sns-item { margin-left: 12px; }

footer .corp .sns_area .sns-list .sns-item.facebook { background-position: -25px 0; }

footer .corp .sns_area .sns-list .sns-item.twitter { background-position: -50px 0; }

footer .corp .sns_area .sns-list .sns-item.insta { background-position: -75px 0; }

footer .corp .sns_area .sns-list .sns-item.kakao { background-position: -100px 0; }

footer .corp .sns_area .sns-list .sns-item.youtube { background-position: -125px 0; }

footer .corp .sns_area .sns-list .sns-item.blog { background-position: -150px 0; }

footer .corp .sns_area .sns-list .sns-item:hover.facebook { background-position: -25px -25px; }

footer .corp .sns_area .sns-list .sns-item:hover.twitter { background-position: -50px -25px; }

footer .corp .sns_area .sns-list .sns-item:hover.insta { background-position: -75px -25px; }

footer .corp .sns_area .sns-list .sns-item:hover.kakao { background-position: -100px -25px; }

footer .corp .sns_area .sns-list .sns-item:hover.youtube { background-position: -125px -25px; }

footer .corp .sns_area .sns-list .sns-item:hover.blog { background-position: -150px -25px; }

footer .info { padding: 22px 0; border-top: 1px solid #ccc; position: relative; }

footer .info .call { margin-right: 40px; float: left; width: 108px; height: 45px; background: url(../img/icon_set_common.png) no-repeat -180px 0; }

footer .info address { font-size: 12px; display: inline-block; color: #636363; line-height: 15px; }

footer .info address p { padding: 0 0 2px; }

footer .info address p .s { font-size: 11px; }

footer .mark-area { position: absolute; right: 0; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

footer .mark-area a + a { margin-left: 10px; }

.sction-title { font-size: 24px; font-weight: 700; }

.inner1::after { content: ""; clear: both; display: block; }

.sc-visual { float: left; width: 770px; height: 350px; position: relative; }

.sc-visual .slide { position: absolute; left: 80px; top: 0; width: 690px; }

.sc-visual .slide02 .title { top: 50%; }

.sc-visual .slide02 .title a::before { background-position: -50px 0px; }

.sc-visual .slide.active { z-index: 10; }

.sc-visual .slide.active .title { background: #0158a8; color: #fff; }

.sc-visual .slide.active .title::before { content: ''; position: absolute; z-index: 10; left: 99%; top: 50%; width: 0; height: 0; border-style: solid; border-width: 25px 0 25px 32px; border-color: transparent transparent transparent #0158a8; margin-top: -25px; }

.sc-visual .img-wrap { position: relative; }

.sc-visual .txt-wrap { position: absolute; bottom: 0; width: 100%; height: 40px; background-color: rgba(0, 0, 0, 0.7); color: #fff; line-height: 40px; padding: 0 122px 0 12px; font-size: 14px; -webkit-box-sizing: border-box; box-sizing: border-box; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.sc-visual .title { position: absolute; height: 50%; width: 80px; background: #d2e1e9; left: -80px; }

.sc-visual .title a { padding-top: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; height: 100%; }

.sc-visual .title a::before { content: ''; display: block; background: url(../img/icon_main_2019.png) no-repeat; background-color: #fff; border-radius: 50%; width: 50px; height: 50px; margin: 0 auto 10px; }

.sc-visual .controls { position: absolute; right: 5px; bottom: 10px; z-index: 10; color: #fff; font-size: 13px; overflow: hidden; width: 110px; }

.sc-visual .controls a { height: 100%; display: block; }

.sc-visual .controls .page { float: left; }

.sc-visual .controls .page::after { content: ''; height: 20px; width: 1px; background-color: #fff; display: inline-block; vertical-align: top; margin: 0 10px; }

.sc-visual .controls .btn { float: left; background: url(../img/icon_set_common_2019.png) no-repeat; width: 18px; height: 18px; }

.sc-visual .controls .btn.play { background-position: -269px -285px; display: none; }

.sc-visual .controls .btn.pause { background-position: -285px -285px; }

.sc-visual .controls .btn.prev { background-position: -241px -285px; }

.sc-visual .controls .btn.next { background-position: -256px -285px; }

.side-banner { float: right; width: 360px; height: 350px; }

.side-banner .corona-area { background: url(../img/bg_corona_pc_220330.jpg) no-repeat; width: 100%; height: 214px; color: #fff; font-weight: 600; font-size: 18px; }

.side-banner .corona-area a { height: 100%; display: block; }

.side-banner .corona-area .corona1 { position: relative; height: 129px; }

.side-banner .corona-area .corona1 .date { position: absolute; top: 11px; right: 20px; font-size: 12px; font-weight: 700; color: #000; }

.side-banner .corona-area .corona1 .l-num { position: absolute; top: 95px; left: 70px; }

.side-banner .corona-area .corona1 .r-num { position: absolute; top: 95px; right: 58px; }

.side-banner .corona-area .corona2 { position: relative; height: 82px; }

.side-banner .corona-area .corona2 .date { position: absolute; top: 7px; right: 20px; font-size: 12px; font-weight: 700; color: #000; }

.side-banner .corona-area .corona2 .vaccine { position: absolute; top: 52px; }

.side-banner .corona-area .corona2 .vaccine.num1 { left: 28px; }

.side-banner .corona-area .corona2 .vaccine.num2 { left: 110px; }

.side-banner .corona-area .corona2 .vaccine.num3 { left: 193px; }

.side-banner .corona-area .corona2 .vaccine.num4 { left: 283px; }

.side-banner .mayor-area { margin-top: 4px; position: relative; color: #fff; font-size: 12px; }

.side-banner .mayor-area a { position: absolute; bottom: 15px; left: 15px; background-color: #2d6281; padding: 6px 7px; border-radius: 10px; }

.side-banner .mayor-area a + a { margin-left: 110px; }

.side-banner .mayor-area a::after { content: ''; display: inline-block; width: 5px; height: 5px; border-top: 1px solid #fff; border-right: 1px solid #fff; -webkit-transform: rotate(45deg); transform: rotate(45deg); margin-left: 2px; vertical-align: 1px; }

.sc-service { position: relative; margin: 50px 0 35px 0; font-size: 15px; }

.sc-service .link-all { width: 112px; height: 29px; border: 1px solid #ddd; -webkit-box-sizing: border-box; box-sizing: border-box; display: block; position: absolute; right: 0; top: 0; padding-left: 13px; line-height: 28px; }

.sc-service .link-all::after { content: ''; background: url(../img/icon_link6.png) no-repeat; width: 6px; height: 11px; display: inline-block; margin-left: 10px; }

.sc-service .service_list { overflow: hidden; display: -webkit-box; display: -ms-flexbox; display: flex; width: 100%; }

.sc-service .service_list .service-item { margin: 0 auto; text-align: center; }

.sc-service .service_list .service-item a { display: block; height: 100%; }

.sc-service .service_list .service-item a::before { content: ''; background: url(../img/icon_set_service_2021.png) no-repeat; width: 60px; height: 60px; display: block; margin: 0 auto 10px; }

.sc-service .service_list .service-item a.resv::before { background-position: -360px 0; }

.sc-service .service_list .service-item a.reply::before { background-position: 0 0; }

.sc-service .service_list .service-item a.job::before { background-position: -120px 0; }

.sc-service .service_list .service-item a.home::before { background-position: -300px 0; }

.sc-service .service_list .service-item a.study::before { background-position: -180px 0; }

.sc-service .service_list .service-item a.wel::before { background-position: -960px 0; }

.sc-service .service_list .service-item a.live::before { background-position: -780px 0; }

.sc-service .service_list .service-item a.town::before { background-position: -1140px 0; }

.sc-service .service_list .service-item a.media::before { background-position: -1020px 0; }

.sc-service .service_list .service-item a.menual::before { background-position: -1080px 0; }

.sc-service .service_list .service-item a.assem::before { background-position: -600px 0; }

.banner-area { background: #eff4f8; }

.banner-area .banner-wrap { width: 1152px; margin: 0 auto; overflow: hidden; }

.banner-area .banner-wrap .banner-item { float: left; padding: 20px 0; position: relative; }

.banner-area .banner-wrap .banner-item + .banner-item::before { content: ''; height: 50px; width: 1px; background-color: #dbdbdb; position: absolute; top: 50%; -webkit-transform: translateY(-50%); transform: translateY(-50%); }

.common-inner { overflow: hidden; height: 100%; }

.common-inner .inner2 { overflow: hidden; padding: 50px 0 50px; -webkit-box-sizing: border-box; box-sizing: border-box; border-bottom: 2px solid #000; }

.common-inner .inner2 .sc-board { overflow: hidden; float: left; position: relative; }

.common-inner .inner2 .sc-board + .sc-board { margin: 0 36px; }

.common-inner .inner2 .sc-board .board-area { width: 360px; }

.common-inner .inner2 .sc-board .board-area .board-item { font-size: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 6px 0 6px 0; }

.common-inner .inner2 .sc-board .board-area .board-item span { margin-right: 9px; }

.common-inner .inner2 .sc-board .board-area .board-item .cult { color: #9b64d3; }

.common-inner .inner2 .sc-board .board-area .board-item .admin { color: #028ab6; }

.common-inner .inner2 .sc-board .board-area .board-item .wel { color: #d76000; }

.common-inner .inner2 .sc-board .board-area .board-item .env { color: #599100; }

.common-inner .inner2 .sc-board .link-more { position: absolute; top: 0; right: 0; display: block; border: 1px solid #ddd; width: 20px; height: 18px; background: url(../img/icon_set_common.png) no-repeat -1px -1px; }

.common-inner .inner2 .sc-often { width: 360px; float: right; font-size: 15px; }

.common-inner .inner2 .sc-often .often-list { padding: 17px 5px 7px 20px; background: #eff4f8; overflow: hidden; }

.common-inner .inner2 .sc-often .often-list .often-item { float: left; width: 50%; padding: 0 0 10px 10px; -webkit-box-sizing: border-box; box-sizing: border-box; position: relative; }

.common-inner .inner2 .sc-often .often-list .often-item::before { content: ''; height: 2px; width: 2px; border-radius: 50%; background: #666; position: absolute; top: 50%; left: 0; -webkit-transform: translateY(-50%); transform: translateY(-50%); margin-top: -5px; }

.sc-field { padding-top: 40px; }

.sc-field .field-list { overflow: hidden; padding: 0 27px; }

.sc-field .field-list .field-item { float: left; text-align: center; margin-left: 59px; width: 85px; height: 100%; }

.sc-field .field-list .field-item a { height: 100%; display: block; }

.sc-field .field-list .field-item a::before { content: ''; display: block; height: 85px; width: 100%; margin-bottom: 10px; }

.sc-field .field-list .field-item a.home::before { background: url(../img/icon_house.png) no-repeat; }

.sc-field .field-list .field-item a.eco::before { background: url(../img/icon_economy.png) no-repeat; }

.sc-field .field-list .field-item a.traffic::before { background: url(../img/icon_traffic.png) no-repeat; }

.sc-field .field-list .field-item a.env::before { background: url(../img/icon_environment.png) no-repeat; }

.sc-field .field-list .field-item a.wel::before { background: url(../img/icon_welfare.png) no-repeat; }

.sc-field .field-list .field-item a.safe::before { background: url(../img/icon_safty.png) no-repeat; }

.sc-field .field-list .field-item a.cult::before { background: url(../img/icon_culture.png) no-repeat; }

.sc-field .field-list .field-item a.admin::before { background: url(../img/icon_work.png) no-repeat; }

.sc-field .field-list .field-item:first-child { margin-left: 0; }

.sc-news { margin-top: 50px; position: relative; }

.sc-news .link-all { font-size: 15px; color: #7d7d7d; width: 75px; height: 19px; line-height: 1; background: url(../img/icon_set_common.png) no-repeat 0 -259px; position: absolute; top: 20px; right: 0; }

.sc-news .news-list { overflow: hidden; overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; min-height: 2px; }

.sc-news .news-list .news-item { float: left; width: 273px; margin-right: 20px; }

.sc-news .news-list .news-item:nth-child(4n) { margin-right: 0; }

.sc-news .news-list .news-item .img-box { position: relative; margin-bottom: 15px; overflow: hidden; }

.sc-news .news-list .news-item .img-box img { -webkit-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.sc-news .news-list .news-item .img-box:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.sc-news .news-list .news-item .img-box em { position: absolute; bottom: 0; left: 0; width: 82px; height: 32px; text-align: center; color: #fff; line-height: 32px; }

.sc-news .news-list .news-item .img-box em.cult { background-color: #9b64d3; }

.sc-news .news-list .news-item .img-box em.admin { background-color: #028ab6; }

.sc-news .news-list .news-item .img-box em.env { background-color: #599100; }

.sc-news .news-list .news-item .img-box em.traf { background-color: #337ee2; }

.sc-news .news-list .news-item .img-box em.home { background-color: #d76000; }

.sc-news .news-list .news-item .txt-box { margin: 15px 0 20px 0; }

.inner3 { overflow: hidden; border-bottom: 2px solid #000; padding-bottom: 50px; -webkit-box-sizing: border-box; box-sizing: border-box; }

.inner3 .sc-video { float: left; }

.inner3 .sc-video .mov-area { width: 280px; height: 152px; position: relative; overflow: hidden; }

.inner3 .sc-video .mov-area img { width: 100%; height: 100%; -webkit-transform: scale(1); transform: scale(1); -webkit-transition: -webkit-transform 0.3s; transition: -webkit-transform 0.3s; transition: transform 0.3s; transition: transform 0.3s, -webkit-transform 0.3s; }

.inner3 .sc-video .mov-area:hover img { -webkit-transform: scale(1.1); transform: scale(1.1); }

.inner3 .sc-video .mov-area .txt-wrap { position: absolute; left: 0; bottom: 0; background-color: rgba(0, 0, 0, 0.5); padding: 11px 20px; -webkit-box-sizing: border-box; box-sizing: border-box; color: #fff; font-weight: bold; width: 100%; }

.inner3 .sc-video .mov-area .txt-wrap p { overflow: hidden; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.inner3 .sc-s-news { float: left; width: 480px; margin: 0 22px 0 20px; }

.inner3 .sc-s-news .news-item { padding: 8px 0; width: 100%; font-size: 16px; color: #555555; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }

.inner3 .sc-s-news .news-item .cate { color: #09ac43; margin-right: 18px; }

.inner3 .sc-sns { float: left; position: relative; width: 350px; height: 195px; background: url(../img/bg_sns_list.jpg) no-repeat; }

.inner3 .sc-sns .title { padding: 10px 15px; font-size: 22px; position: relative; }

.inner3 .sc-sns .title::after { content: ''; background: url(../img/ico_sns_list_2021.png) no-repeat -247px 0; width: 34px; height: 24px; display: inline-block; vertical-align: -5px; border-left: 1px solid #878787; margin-left: 6px; }

.inner3 .sc-sns .sns-list { position: absolute; top: 90px; left: 50%; -webkit-transform: translateX(-50%); transform: translateX(-50%); overflow: hidden; width: 276px; height: 40px; }

.inner3 .sc-sns .sns-list .sns-item { background: url(../img/ico_sns_list_2021.png) no-repeat; width: 40px; height: 40px; float: left; margin: 0 3px; }

.inner3 .sc-sns .sns-list .sns-item a { height: 100%; display: block; }

.inner3 .sc-sns .sns-list .sns-item.insta { background-position: 0 0; }

.inner3 .sc-sns .sns-list .sns-item.facebook { background-position: -40px 0; }

.inner3 .sc-sns .sns-list .sns-item.twt { background-position: -80px 0; }

.inner3 .sc-sns .sns-list .sns-item.blog { background-position: -120px 0; }

.inner3 .sc-sns .sns-list .sns-item.youtube { background-position: -160px 0; }

.inner3 .sc-sns .sns-list .sns-item.kakao { background-position: -200px 0; }

.sc-notice { padding: 50px 0; border-top: 2px solid #222; overflow: hidden; font-size: 14px; }

.sc-notice .control_box { float: right; margin-top: 10px; }

.sc-notice .control_box .page { float: left; margin-right: 10px; }

.sc-notice .control_box .control_nav { float: left; }

.sc-notice .control_box .control_btn { float: left; }

.sc-notice .control_box .control_btn a { display: none; }

.sc-notice .control_box .control_btn a.active { display: block; }

.sc-notice .control_box .btn { background: url(../img/icon_set_common.png) no-repeat; width: 20px; height: 20px; display: inline-block; border: 1px solid #999; }

.sc-notice .control_box .btn.prev { background-position: -45px -43px; }

.sc-notice .control_box .btn.play { background-position: -101px -43px; border-left: 0; }

.sc-notice .control_box .btn.pause { background-position: -65px -43px; border-left: 0; }

.sc-notice .control_box .btn.next { background-position: -86px -43px; border-left: 0; }

.sc-related { margin-bottom: 20px; }

.sc-related .site-list { display: -webkit-box; display: -ms-flexbox; display: flex; height: 100%; position: relative; }

.sc-related .site-item { -webkit-box-flex: 1; -ms-flex: 1; flex: 1; }

.sc-related .site-item + .site-item .btn-title { border-left: 0; }

.sc-related .btn-title { display: block; padding: 16px 0; border: 1px solid #d0d0d0; background: #f7f7f7; color: #333; text-align: center; font-size: 14px; }

.sc-related .btn-title .txt { position: relative; padding-right: 20px; }

.sc-related .btn-title .txt::after { content: ''; position: absolute; top: 8px; right: 0px; height: 7px; width: 7px; border-style: solid; border-color: #373737; border-width: 0px 2px 2px 0px; -webkit-transform: rotate(-135deg); transform: rotate(-135deg); -webkit-transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); -webkit-transform-origin: center center; transform-origin: center center; }

.sc-related .btn-title.on .txt::after { top: 4px; -webkit-transform: rotate(45deg); transform: rotate(45deg); -webkit-transform-origin: center center; transform-origin: center center; }

.sc-related .sub-list { position: absolute; bottom: 55px; left: 0; width: 100%; padding: 10px 20px 20px; background: #fff; border: 1px solid #d0d0d0; border-bottom: 0; z-index: 10; display: none; -webkit-box-sizing: border-box; box-sizing: border-box; }

.sc-related .sub-list li { float: left; width: calc(100% / 4); margin-top: 10px; }

.sc-related .sub-list a { font-size: 14px; color: #555555; }
